body { background-color:#e5e5e5; font-family:Verdana,Arial,Helvetica; }
div.table { width:400px; }
span.title { font-size: xx-large; }
table.cfg { border-spacing:2; border-width:0; width:400px; }
td { padding:0; }
td.cfgTitle { font-size: large; font-weight: bold; }
.button { border-radius:0; height:30px; width:120px; border:0; background-color:black; color:#fff; margin:5px; cursor:pointer; }
.buttonr {border-radius:0; height:30px; width:120px; border:0; background-color:red; color:#fff; margin:5px; cursor:pointer; }
.hsdcolor { width:15px; height:15px; border:1px black solid; float:left; margin-right:5px; }
.rdark { background-color:#f9f9f9; }
.rlight { background-color:#e5e5e5; }